<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/skynetlg.png" type="image/icon type" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/journey.css" />
  </head>
  <body>
    <h1>About Us</h1>
    <h6>From startup to industry leader, our evolution story</h6>
    <div class="split-background">
      <div class="center-image">
        <img src="/assets/journey.jpeg" class="img-fluid" alt="team" />
      </div>
      <h4>Key Statistics</h4>
      <div class="journey">
        <div class="rows">
          <div class="column">
            <div><h3>Establis</h3></div>
            <span class="subtext">Established in</span>
          </div>
          <div class="column">
            <div><h3>Impactin</h3></div>
            <span class="subtext">Teams leveraging Embark's</span>
          </div>
          <div class="column">
            <div><h3>Financia</h3></div>
            <span class="subtext">Investment</span>
          </div>
        </div>
      </div>
    </div>
    <div class="sec">
      <h1>Meet Our Team</h1>
      <h6>Faces Behind Our Innovative Solution</h6>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img
              src="/assets/boy1.jpeg"
              class="card-img-center"
              alt="boy1"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Sankalp Jain</h5>
              <p class="card-text">Founder & CEO & CTO</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/boy2.jpeg"
              class="card-img-center"
              alt="boy2"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Ashwin Taparia</h5>
              <p class="card-text">Co-Founder & COO</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/boy3.jpeg"
              class="card-img-center"
              alt="boy3"
              style="width: 19rem; height: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Rishi Raj</h5>
              <p class="card-text">Marketing Head</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/boy4.jpeg"
              class="card-img-center"
              alt="boy4"
              style="width: 18rem"
            />
            <div class="card-body">
              <h5 class="card-title">Raushan Kumar Singh</h5>
              <p class="card-text">Lead Designer</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/girl1.png"
              class="card-img-center"
              alt="girl1"
              style="width: 17.5rem"
            />
            <div class="card-body">
              <h5 class="card-title">Akanchha Rani</h5>
              <p class="card-text">Developer</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img
              src="/assets/girl2.jpeg"
              class="card-img-center"
              alt="girl2"
              style="width: 20rem; height: 14rem"
            />
            <div class="card-body">
              <h5 class="card-title">Bhawna Anand</h5>
              <p class="card-text">Developer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
