<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Skynet logo placeholder -->
      <a href="/home"><img src="/assets/logo2.png" alt="Skynet Logo">  </a>

      <!-- Navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comingsoon">Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comingsoon">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <!-- Globe icon placeholder -->
      <span class="navbar-text">
          <a href="/comingsoon"><img src="/assets/language.png" alt="language"></a>
      </span>
    </div>
  </nav>