<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img src="/assets/logo2.png" alt="SKYNET" width="160" height="80">
    </a>
    <form class="d-flex" method="post" action="/home/search" enctype="multipart/form-data">
      <input class="s-box form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search"
        value="<%=q%>" name="search[q]" id="searchInput">
      <span class="mag-glass">
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      </span>
    </form>
    <!-- <i class="fa-solid fa-camera fa-xl"></i> -->
    <i class="fa-solid fa-microphone fa-xl"></i>
    <a href="/comingsoon">
    <img class="language" src="/assets/language.png" width="50px" height="50px"></a>
    <i class="fa-solid fa-user fa-xl" onclick="toggleMenu()"></i>
  
    <!-- <i class="fa-solid fa-bars fa-xl" onclick="toggleMen()"></i> -->
  </div>
  <div class="menu-drop" id="menuDropdown">
    <i class="fa-solid fa-xmark close-icon"></i>
    <div class="menu-item">
      <i class="fa-solid fa-gear fa-sm icon" style="color: #ffffff;"></i>
      <a href="/comingsoon"><span>Settings</span></a>
    </div>
    <div class="menu-item">
      <i class="fa-solid fa-lock fa-sm icon"></i>
      <span>Safe search enabled</span>
    </div>
    <div class="menu-item">
      <i class="fa-regular fa-clock fa-sm icon"></i>
      <a href="/comingsoon"><span>Search History</span></a>
    </div>
    <div class="menu-item">
      <i class="fa-solid fa-circle-half-stroke fa-sm icon"></i>
      <span>Theme</span>
      <i class="bi bi-chevron-down dropdown-arrow"></i>
    </div>
    <div class="theme-options" id="theme-options">
      <!-- <div class="radio-option">
        <input type="radio" id="light" name="theme" value="light">
        <label for="light">Light</label>
      </div>
      <div class="radio-option">
        <input type="radio" id="dark" name="theme" value="dark" checked>
        <label for="dark">Dark</label>
      </div> -->
      <div class="radio-option">
        <input type="radio" id="system" name="theme" value="system">
        <label for="system">System Default</label>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Search</a>&nbsp;&nbsp;
        &nbsp;&nbsp;<button class="nav-link" href="/home/images" id="imageLink" >Image</button>
        &nbsp;&nbsp; <a class="nav-link" href="/comingsoon">News</a>
        &nbsp;&nbsp; <a class="nav-link" href="/comingsoon">Trending</a>
      </div>
      <a class="link" href="/comingsoon">: More</a>
    </div>
  </div>
</nav>
<script>
  document.getElementById("imageLink").addEventListener("click", function () {
    console.log('Click');

    // Retrieve the value from the input field
    var inputValue = document.getElementById("searchInput").value;

    // Define the data to be sent, including the input value
    var requestData = {
        "q": inputValue
    };

    // Make a POST request using fetch
    fetch("/home/image", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(requestData)
    })
      .then(response => {
        if (response.ok) {
          console.log("POST request successful!");
          // Return the response body as text
          return response.text();
        } else {
          console.error("POST request failed!");
          throw new Error('POST request failed!');
        }
      })
      .then(html => {
        // Create a temporary div element
        var tempDiv = document.createElement('div');
        // Set the innerHTML of the temporary div with the HTML response
        tempDiv.innerHTML = html;
        // Replace the content of the current page with the content of the temporary div
        document.body.innerHTML = tempDiv.innerHTML;
        
        // Add a reload button
        var reloadButton = document.createElement('button');
        reloadButton.textContent = 'Reload';
        reloadButton.addEventListener('click', function() {
            location.reload();
        });
        document.body.appendChild(reloadButton);
      })
      .catch(error => {
        console.error("Error:", error);
      });
});

</script>