* {
    padding: 0;
    margin: 0;
}
.card-img-center{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    margin-top: 20px;
}
.card{
    border: none;
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.card-body{
    margin-left: 25px;
    color: gray;
}
.card-title{
    margin-left:-6%;
}
h1{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    color: rgb(65, 65, 65);
}
.card-text{
    color: rgb(146, 146, 146) !important;
    margin-top: -10px;
    margin-left: -3%;
}
h6{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(172, 172, 172);
    margin-top: 3%;
    font-size: 20px;
}
.center-image{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-image img{
    border-radius: 25px;
    margin-top: 2%;
}
h4{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(89, 84, 84);
    margin-top: 2%;
}
.rows {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  h3{
    color: rgb(67, 67, 67);
  }
  
  .column {
    flex: 1;
  }
  
  .subtext {
    display: block;
    margin-top: 20px;
    color: rgb(91, 87, 87);
  }
  .split-background {
    height: 85vh;
    background: linear-gradient(to bottom, #ffffff 35%, #e9e9e9 45%);
  }
  h5{
    color: rgb(87, 86, 86) !important;
  }

  @media (min-width: 1100px) and (max-width: 1300px) {
    .card {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .row-cols-md-3 .col {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
    .row-cols-1 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row {
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-img-center {
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body {
        text-align: center;
    }
    .card-title {
        margin-left: 0;
    }
    .card-text {
        margin-left: 0;
    }
    .center-image img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}
@media (min-width: 800px) and (max-width: 1100px) {
    .card {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px;
    }
    .row-cols-md-3 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-1 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row {
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-img-center {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .card-body {
        text-align: center;
    }
    .card-title {
        margin-left: 0;
    }
    .card-text {
        margin-left: 0;
    }
    .center-image img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
    .sec{
        margin-top: -20%;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    .row-cols-md-3 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row-cols-1 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card-img-center {
        max-width: 200px;
    }
    .center-image img {
        max-width: 300px;
    }
}

@media (max-width:2000px) {
    .sec{
        margin-top: 10% !important;
    }
}