@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");

html {
 width:100% !important; 
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.45em;
  background-color: #ffffff !important;
  color: #404646;
  margin: 0;
  font-size: 14.5px;
  padding: 0;
}

.main-container {
  margin-top: 10px;
  height: fit-content;
  background-color: rgb(227, 227, 227);
  border-radius: 20px !important;
  width: 110% !important;
  margin-left: -5%;
}

.grid-container {
  height: 750px;
  margin-top: 48px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.002rem;
  justify-content: center;
  max-width: 75em;
}

.card {
  background-color: rgb(247, 247, 247);
  border-radius: 20px !important;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}

.card__image {
  height: 100%;
  width: 100%;
  display: flex;
}

.card__image img {
  height: 100%;
  width: 100%;
  border-radius: 20px !important;
  object-fit: cover;
}

.geeks {
  overflow: hidden;
  margin: 0 auto;
}

.geeks img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.geeks:hover img {
  transform: scale(1.5);
}

.card--2x {
  grid-row: span 2;
}


.search-heading {
  display: flex;
  color: black;
  margin-top: 30px;
  margin-left: -30px;
}

.demo a {
  color: rgb(48, 48, 48);
}

.demo img {
  margin-left: 95%;
  margin-top: -15%;
  border-radius: 15px;
}

.page-link {
  display: flex !important;
  margin-left: 25%;
  margin-top: -5%;
}

.page-link li {
  list-style-type: none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 5%;
}

.page-link li:hover {
  text-decoration: 4px underline !important;
  cursor: pointer;
}

.paragraph {
  max-width: 800px;
}

.chat-container {
  position: relative;
  width: 350px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid rgb(125, 125, 125);
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 20%;
  box-shadow: 0 2px 10px rgba(15, 15, 15, 0.4);
}

#Layer_1 {
  background-color: transparent;
  filter: invert(10%);
}

.chat-header {
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  background-color: #ffffff;
  position: relative;
}

.chat-header i {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.chat-body {
  padding: 15px;
  background-color: #ffffff;
  height: 400px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: White;
}

.chat-body i {
  margin-right: 5px;
}

.chat-body p {
  color: #999999;
  margin-top: -5px;
}

.img-search {
  width: 7% !important;
  height: 7% !important;
}

.chat-footer {
  padding: 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 12px;
  width: 100%;
}

.chat-footer i {
  margin-left: 50%;
}

.input-group {
  flex-grow: 2;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.text-space {
  background-color: #eceaea;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
}

.text-space:focus {
  outline: none !important;
}

.expand {
  margin-left: 95% !important;
  margin-top: -14% !important;
}

.ai-res p {
  color: black;
}

.footer {
  padding: 1px;
  margin-top: -15%;
}

.send-btn {
  background-color: transparent;
  padding: 10px 10px;
  border: none;
  border-radius: 25px;
  margin-left: 63%;
}

.chat-container hr {
  margin: auto;
  border: none;
  border-top: 2px solid #727272;
  display: none;
}

.footer i {
  margin-left: 13px !important;
}

.footer i:hover {
  cursor: pointer;
}

.expand:hover {
  cursor: pointer;
}

.aifooter {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 28px;
  background-color: #eceaea;
}

.related {
  margin-top: -65px !important;
  margin-left: 80px;
}

.form-control {
  width: 65% !important;
  border-radius: 20px !important;
  margin-left: 80px;
  margin-top: 10px;
  box-shadow: 0 2px 10px rgb(180, 180, 180);
  height: 40px !important;
}

.sug {
  transition: transform 0.3s ease-in-out;
}

.sug:hover {
  transform: scale(1.2);
}

.More {
  margin-left: 95%;
  margin-top: -20% !important;
  text-decoration: none;
  color: #434242;
}

.ai {
  background: url('../assets/AI2.png') no-repeat center center/cover;
  float: right;
  border-radius: 50%;
  margin-top: -10%;
  margin-right: -10%;
}

.bi-search {
  margin-left: 89%;
  margin-top: -15%;
}

.search-box {
  margin-top: -1%;
}

/* FOOTER */

.pt5 {
  background-color: rgb(253, 253, 253);
  position: relative;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0 !important;
  overflow: hidden;
}

.mt-3 a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.col-md-3 p {
  color: rgb(93, 93, 93);
  margin-left: 6% !important;
}

.col-md-3 img {
  margin-top: -8%;
  margin-left: 6% !important;
  filter: invert(0%);
}

.f-link {
  margin-top: 20% !important;
}

/* Typing animation */
.typing-animation::after {
  content: '|';
  /* Display cursor */
  animation: blink 0.7s infinite alternate;
}

.fas{
  color : #000000 !important;
}

.api {
  display: none;
}

@keyframes blink {
  from {
    opacity: 0;
    /* Invisible cursor */
  }

  to {
    opacity: 1;
    /* Visible cursor */
  }
}


@media(prefers-color-scheme: dark) {
  body {
    background-color: #212121 !important;
    color: #404646 !important;
  }

  .main-container {
    background-color: rgb(111, 111, 111) !important;
  }

  .grid-container {
    background-color: rgb(111, 111, 111) !important;
  }

  .card {
    background-color: rgb(111, 111, 111) !important;
  }

  .search-heading {
    color: #ffffff !important;
  }
  .search-heading h4{
    color: #ffffff !important
  }
  .related{
    color: #ffffff !important;
  }

  .related h4 {
    color: #ffffff !important;

  }

  .demo a {
    color: #ffffff !important;
  }

  .demo p {
    color: #ffffff !important;
  }

  .page-link li {
    color: #ffffff !important;
  }

  .paragraph {
    color: #ffffff !important;
  }
  .fas{
    color : #ffffff !important;
  }

  #Layer_1 {
    background-color: none !important;
    filter: invert(65%) !important;
  }
  .chat-container{
    background-color: #393939;
  }
  .chat-header {
    color: #ffffff;
    background-color: #393939;

  }
  .chat-body i{
    color: #ffffff;
  }
  .chat-header .ai{
    background: url('../assets/AI.png') no-repeat center center/cover;
    background-color: transparent;
  }

  .chat-header i {
    color: rgb(255, 255, 255);
  }

  .chat-body {
    background-color: #393939;
    color: #ffffff;

  }

  .chat-body p {
    color: #ffffff;
  }

  .text-space {
    background-color: #585858;
    color: #ffffff;
  }

  .text-space::placeholder {
    color: #ffffff;
  }

  .send-btn {
    background-color: transparent;
  }

  .chat-container hr {
    background-color: #585858;
  }

  .aifooter {
    background-color: #585858;
  }

  .More {
    color: #ffffff;
  }

  .bi-search {
    color: #ffffff;
  }

  .search-box {
    color: #ffffff;
  }

  .search-box input {
    background-color: rgb(111, 111, 111);
    color: #ffffff;
  }
  .pt5 {
    background-color: #363535 !important;
    color: white !important;
  }

  .mt-3 a {
    color: rgb(255, 255, 255);
  }

  .col-md-3 p {
    color: rgb(173, 173, 173);
  }

  .col-md-3 img {
    filter: invert(100%);
    background-color: transparent;
  }

}



@media screen and (min-width: 1100px) and (max-width: 1300px) {
  body{
    overflow-x: hidden !important;
  }
  .main-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .grid-container {
    height: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .card--2x {
    grid-row: auto;
    grid-column: auto;
  }

  .demo img {
    margin-left: auto;
    margin-top: auto;
  }

  .page-link {
    margin-left: 0;
    justify-content: center;
  }

  .chat-container {
    margin-left: 15%;
    margin-top: 15%;
    width: 90%;
  }
  .search-related{
    margin-top: 25% !important;
  }
  .bi-search{
    margin-top: -22% !important; 
    margin-left: 19% !important;
    color:  gray !important;
  }
}

@media (min-width: 1100px) and (max-width: 1300px) {
  .pt5 {
    height: 35%; /* Adjust height for responsiveness */
    width: 141.7vh;
    overflow-x: hidden !important;
  }

  .mt-3 a {
    font-size: 14px; /* Adjust font size for responsiveness */
  }

  .col-md-3 p {
    margin-left: 4% !important; /* Adjust margin for responsiveness */
  }

  .col-md-3 img {
    margin-top: -5%; /* Adjust margin for responsiveness */
    margin-left: 4% !important; /* Adjust margin for responsiveness */
  }

  .f-link {
    margin-top: 18% !important; /* Adjust margin for responsiveness */
  }
  .fa-twitter{
    display: none !important;
  }
}
@media  (max-width:1100px){
  .fa-twitter{
    display: none !important;
  }
}

@media  (max-width:800px){
  .pt5{
    display: none !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px){
  .chat-container{
    width: 90% !important;
  }
  .search-related{
    margin-top: 25% !important;
  }
  .bi-search{
    margin-top: -22% !important; 
    margin-left: 19% !important;
    color:  gray !important;
  }
}
@media screen and (min-width: 560px) and (max-width:900px){
  .chat-container{
    display:none!important;
  }
}

@media (max-width:990px){
  .search-related{
    margin-top: 30% !important;
  }
  .bi-search{
    margin-top: -30% !important; 
    margin-left: 25% !important;
    color:  gray !important;
  }
}
@media (max-width:900px){
  .search-related{
    margin-top: 50% !important;
  }
  .bi-search{
    margin-top: -30% !important; 
    margin-left: 25% !important;
    color:  gray !important;
  }
  .pt5{
    display: hidden !important;
  }
}
@media(max-width:770px){
  .bi-search{
    margin-top: -45% !important; 
    margin-left: 37% !important;
    color:  gray !important;
  }
}
@media(max-width:580px)  {
  .col-sm-8{
     width: 50% !important;
  }
  .col-sm-4{
    width: 50% !important;
  }
  .search-heading{
    margin-left: 6% !important;
  }
  .demo{
    margin-left: 8% !important;
  }
  .bi-search{
    margin-top: -15% !important; 
    margin-left: 10% !important;
    color:  gray !important;
  }
}


@media (max-width: 560px) {
  .contain {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  .col-sm-8{
    width: 80% !important;
    margin-left: 10% !important;
  }
  .chat-container{
    width: 100% !important;
    margin-left: 60% !important;
  }
  .expand{
    margin-top: 1% !important;
  }
  .search-related{
    margin-left: 70% !important;
    width: 80% !important;
  }
}

@media (max-width: 768px){
  .bi-search{
    margin-top: -29% !important; 
    margin-left: 20% !important;
    color:  gray !important;
  }
}

@media (max-width: 540px){
  .bi-search{
    margin-top: -20% !important; 
    margin-left: 17% !important;
    color:  gray !important;
  }
}

@media (max-width: 344px){
  .bi-search{
    margin-top: -15% !important; 
    margin-left: 12% !important;
    color:  gray !important;
  }
}


@media (max-width: 412px){
  .bi-search{
    margin-top: -15% !important; 
    margin-left: 12% !important;
    color:  gray !important;
  }
}

@media (max-width: 500px){
  @media (prefers-color-scheme: dark){
    #Layer_1 {
      background-color: none !important;
      filter: invert(65%) !important;
    }
    .text-space {
      background-color: #585858 !important;
      color: #ffffff !important;
    }
  }
}



