<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="/public/css/coming.css">
</head>
<body>
    <div class="container">
        <h1>WELCOME! TO SKYNET</h1>
        <p>
            Welcome to Skynet, where the future of connectivity begins. We're thrilled to have you join us on this groundbreaking journey. At Skynet, we're dedicated to pushing the boundaries of technology to provide you with unmatched speed, security, and innovation. Whether you're here to explore our state-of-the-art solutions, stay informed with the latest tech trends, or enhance your digital experience, you've come to the right place. Together, we'll redefine what's possible and create a world where the sky is just the starting point. Welcome aboard—let's soar to new heights!
        </p>
        <h2 class="coming-soon">COMING SOON</h2>
        <p>
            Get ready for the next evolution in connectivity and technology. Skynet is on the horizon, poised to revolutionize the way you experience the digital world. Our cutting-edge solutions promise to bring unparalleled speed, security, and innovation to your fingertips. Whether you're a tech enthusiast, a business professional, or someone who values seamless online experiences, SkyNet is designed with you in mind. Stay tuned as we prepare to unveil a future where the sky is no longer the limit—it's just the beginning.
        </p>
      </div>
    <script src="/public/js/coming .js"></script>
</body>
</html>